@import "tailwindcss";

@theme inline {
  /* Ini kuncinya! Kita sambungkan variabel dari layout.tsx ke tema tailwind */
  --font-jakarta: var(--font-jakarta);
  --font-inter: var(--font-inter);
}

:root {
  --background: #FAFAFA;
  --foreground: #18181b;
}

@layer base {
  body {
    /* Set INTER sebagai default seluruh body */
    font-family: var(--font-inter), system-ui, sans-serif;
    @apply antialiased text-zinc-900;
  }

  h1, h2, h3, h4, h5, h6 {
    /* Set JAKARTA SANS otomatis untuk semua judul */
    font-family: var(--font-jakarta), sans-serif;
    @apply font-bold tracking-tight;
  }
}